*
{
    margin:0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    
}

#showcase {
    background-image: url('../img/beach.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;

}

#showcase p {
    line-height: 1.4;
}

#showcase .button 
{
    font-size: 16px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
}

#showcase .button:hover {
    background: black;
    color:white
}


#section-a {
    background: #ccc;
    padding: 10px;
}

#section-b, .box-2 {
    background: #8D2C2C;
    color: #CBC8C8;
    padding: 10px;
}



#section-c {
    background: #ccc;
}



#section-c {
    display:flex;
}

#section-c div {
    padding: 10px;
}
